body {
  margin: 0;
  background-color: peachpuff;
}

style {
  display: block;
  background-color: #242424;
  color: #EEE;
  padding: 1rem;
  font-family: monospace;
  font-size: 12pt;
}

main {
  background-color: burlywood;
  padding: 1rem;
  font-family: sans-serif;
}

* {
  transition: all 0.5s;
}
